/* ANIMAÇÃO INICIAL */
.plan-animate-off{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.plan-animate-on{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}
.plan-animate-on .plan{
    -webkit-animation: animate-plans 800ms linear;
    animation: animate-plans 800ms linear;
}
@-webkit-keyframes animate-plans{
    0% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes animate-plans{
    0% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.quem-somos-animate-off{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.quem-somos-animate-on{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-animation: animate-quemsomos 800ms linear;
    animation: animate-quemsomos 800ms linear;
}

@-webkit-keyframes animate-quemsomos{
    0% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes animate-quemsomos{
    0% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

    
/*CONTEUDO*/

.btn{
    float: right;
    margin-right: 5%;
    margin-bottom: 5%;
}

#btn-enviar-ideia{border-bottom:5px solid #666;border-top: 0; border-left: 0; border-right: 0;
                  padding: 10px;
                  background: #f38534;
                  color: #f4f9f9;
                  width:100%;
                  border-top-left-radius: 5%;
                  border-top-right-radius: 5%;
}
#btn-enviar-ideia:hover{
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    box-shadow: 0px 1px 5px #000;
}
#btn-enviar-ideia:active{border-bottom: 0;}

/*SOBRE*/
.page1{

    margin-top: 2%;
    color: #01a8e9;
    text-align: center;
    font-family: fantasy;
    font-size: 30px;

}

.page2{
    margin-top: 2%;
    color: #01a8e9;
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
}

.page3{
    color: #01a8e9;
    text-align: center;
    font-family: monospace; 

}


.page4{
    text-align: center;
    margin-top: 2%;
    color: white;
    font-family: fantasy;
    font-size: 30px;

}



.p1{
    text-align: center; 
    color: #01a8e9;
    font-family: monospace; 
    font-size: 18px;
    margin-top: 2%;
}
.p2{

    font-size: 18px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: white;
    font-family: monospace; 
}




hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

/*VALORES*/

.w3-third{
    padding: 12px;
}






/*FIM*/

.icon-plan{
    position:absolute;
    z-index:9;
    width:15%;
    left:75%;
    top:1%;
}


.content {
    padding: 30px 0;
}

/***
Pricing table
***/
.pricing {
    position: relative;
    margin-bottom: 15px;
    border: 1px solid #000;
}

.pricing-active {
    border: 3px solid #01a8e9;
    margin-top: -10px;
    box-shadow: 7px 7px rgba(54, 215, 172, 0.2);
}

.pricing:hover {
    border: 1px solid #01a8e9;
}

.pricing:hover h4 {
    color:#ffb366;
}

.pricing-head {
    text-align: center;
}

.pricing-head h3,
.pricing-head h4 {
    margin: 0;
    line-height: normal;
}

.pricing-head h3 span,
.pricing-head h4 span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
}

.pricing-head h3 {
    font-weight: 300;
    color: #fafafa;
    padding: 12px 0;
    font-size: 27px;
    background: #01a8e9;
 
}

.pricing-head h4 {
    color: white;
    padding: 5px 0;
    font-size: 54px;
    font-weight: 300;
    background: #01a8e9;
    
}

.pricing-head-active h4 {
    color: #36d7ac;
}

.pricing-head h4 i {
    top: -8px;
    font-size: 28px;
    font-style: normal;
    position: relative;
}

.pricing-head h4 span {
    top: -10px;
    font-size: 14px;
    font-style: normal;
    position: relative;
}

/*Pricing Content*/
.pricing-content li {
    color: #888;
    font-size: 12px;
    padding: 7px 15px;
    border-bottom: solid 1px #f5f9e7;
}

/*Pricing Footer*/
.pricing-footer {
    color: #777;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    padding: 0 20px 19px;
}

/*Priceing Active*/
.price-active,
.pricing:hover {
    z-index: 0;
}

.price-active h4 {
    color:#01a8e9;
}

.no-space-pricing .pricing:hover {
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
    color: #01a8e9;
    padding: 15px 0;
    font-size: 80px;
    -webkit-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

.yellow-crusta.btn {
    color: #FFFFFF;
    background-color: #f3c200;
}
.yellow-crusta.btn:hover,
.yellow-crusta.btn:focus,
.yellow-crusta.btn:active,
.yellow-crusta.btn.active {
    color: #FFFFFF;
    background-color: #01a8e9;
}

h4{
    text-align: center;
    font-family: fantasy;
    color: #01a8e9;

}

/*FIM CONTEUDO*/

/*FOOTER*/
footer{
    background-color:#333333;
    margin-bottom: 0px;
}
.form-group{
    color: white;
}